<Files .htaccess>
Order deny,allow
Deny from all
</Files>

RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

RewriteEngine on
RewriteCond %{HTTP_HOST} ^https://laboratorioscuevas.com.mx[NC,OR]
RewriteRule ^(.*)$ https://laboratorioscuevas.com.mx/$1 [L,R=301,NC]
