@media (min-width: 800px) {
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #387dff;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgba(106, 127, 219, 0.2);
    }

    header {
        padding: 0 10px;
    }

    header nav {
        margin: 0;
        padding-bottom: 10px;
    }

    header nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    header nav ul li {
        margin: 0;
    }

    header nav ul li a {
        width: auto;
        padding: 10px;
        border: none;
        transition: all 0.4s;
    }

    header nav ul li a:hover {
        background-color: rgba(0, 0, 0, 0.16);
    }

    /* MAIN  */
    /* TITLE */
    main .main__title--container h1 {
        font-size: 52pt;
        max-width: 760px;
    }

    main .main__title--container h2 {
        font-size: 20pt;
        max-width: 760px;
    }

    main .main__title--container p {
        font-size: 14pt;
    }

    /* PROMOTIONS */
    main .main__promotions--container {
        display: flex;
    }

    main .main__promotions--container article {
        width: calc(100% / 3);
        padding: 0 20px;
        justify-content: flex-start;
        position: relative;
        max-height: 670px;
    }

    .main__promotions--container article img {
        opacity: 0.04;
    }

    .main__promotions--container article h2 {
        font-size: 20pt;
        margin-top: 1.5em;
    }

    .main__promotions--container article div {
        margin-bottom: 0;
    }

    .main__promotions--container article p:last-child {
        position: absolute;
        bottom: 1em;
    }

    /* SERVICES */
    main .main__services--container .services__article--container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1336px;
        height: 450px;
        margin: 4em auto;
    }

    .main__services--container
        .services__article--container
        .article__services--info
        h2 {
        text-align: left;
        font-size: 36pt;
    }

    .main__services--container
        .services__article--container
        .article__services--info
        p {
        font-size: 18pt;
        color: #444;
    }

    .main__services--container
        .services__article--container
        .article__services--list {
        width: 80%;
        margin: 0 auto;
        height: 100%;
        align-items: center;
    }

    .services__article--container .article__services--list > span {
        display: block;
        padding-left: 1px;
        width: 1px;
        height: 1px;
    }

    .services__article--container
        .article__services--list
        .article__services--card {
        height: 95%;
        width: 270px;
        background-color: white;
        border: 3px solid #387dff;
        box-shadow: none;
        border-radius: 4px;
        font-family: "roboto-bold", sans-serif;
        color: #387dff;
    }

    .article__services--list .article__services--card p:first-child {
        font-size: 0px;
    }

    .article__services--list .article__services--card p:nth-child(2) {
        font-size: 22pt;
        font-family: inherit;
        width: 80%;
    }

    .article__services--list .article__services--card p:first-child > span {
        display: inline-block;
        width: 100px;
        height: 100px;
        background-image: url("../assets/icons/placa-de-petri-freepik.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .article__services--list .article__services--card p:last-child {
        border-color: #387dff;
        box-shadow: 2px 2px #387dff;
        font-family: inherit;
        font-size: 28pt;
    }

    /* HOW FIND US */
    main .main__how-find-us--container {
        max-width: 1336px;
        margin: 0 auto;
    }

    main .main__how-find-us--container .find-us__map-contact--container {
        margin-top: 1.5em;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    main .main__how-find-us--container a {
        width: 300px;
    }

    .main__how-find-us--container
        .find-us__map-contact--container
        .how-find-us__section--container {
        border-radius: 0;
        margin-top: 0;
    }

    .how-find-us__section--container .how-find-us__section--card p:first-child {
        font-size: 18pt;
    }

    .how-find-us__section--container .how-find-us__section--card p {
        font-size: 16pt;
    }

    /* CONTACT US*/
    main .main__section--contact-us {
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin: 0 auto;
        margin-bottom: 2em;
        max-width: 1336px;
    }

    main .main__section--contact-us .section__contant-us--info-container {
        padding-left: 50px;
    }

    main .main__section--contact-us .section__contant-us--info-container p {
        padding-right: 150px;
    }

    main .main__section--contact-us .section__contant-us--form-container {
        padding: 0 20px;
        border: 2px solid #222;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section__contant-us--form-container form label span {
        color: #222;
        font-family: "roboto-bold", sans-serif;
        font-size: 16pt;
    }

    .section__contant-us--form-container form label input {
        height: 50px;
        font-size: 14pt;
        color: #222;
        border: 1px solid #222;
        box-shadow: 2px 2px #222;
    }
}

@media (min-width: 1125px) {
    main .main__promotions--container article {
        max-height: 650px;
    }
}

@media (min-width: 1360px) {
    main .main__promotions--container article {
        max-height: 530px;
    }
}
