@font-face {
    font-family: "roboto-regular";
    src: url("../assets/fonts/Roboto-Regular.ttf");
    font-display: fallback;
}

@font-face {
    font-family: "roboto-bold";
    src: url("../assets/fonts/Roboto-Bold.ttf");
    font-display: fallback;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "roboto-regular", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "roboto-bold", sans-serif;
}

h2 {
    font-size: 32pt;
}

hr {
    width: 95%;
    color: white;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid white;
}

/* HEADER */
header {
    background-color: #1b3c58;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

header > a {
    display: flex;
    align-items: center;
    height: 39px;
}

header img {
    margin-left: 5px;
    width: 195px;
}

header nav {
    margin-top: 10px;
}

header nav ul li {
    margin: 3px;
}

header nav ul li a {
    text-align: center;
    display: inline-block;
    width: 100%;
    color: white;
    padding: 10px 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-family: "roboto-bold", sans-serif;
}

.Section__readcrumb--container .breadcrumb {
    display: none;
}

/* MAIN */

/* TITLE SECTION */
main .main__title--container {
    height: 100vh;
    position: relative;
    background-color: #1d3157;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

main .main__title--container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.1;
}

main .main__title--container h1 {
    font-size: 28pt;
}

main .main__title--container h2 {
    font-size: 18pt;
    margin: 20px;
}

main .main__title--container p {
    font-size: 12pt;
}

/* PROMOTIONS SECTION */
main .main__promotions--container {
    margin-bottom: 20px;
}

main .main__promotions--container article {
    background-color: #387dff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 750px;
    position: relative;
    padding: 20px;
}

.main__promotions--container article img {
    opacity: 0.08;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.main__promotions--container article h2 {
    font-size: 26pt;
    text-align: center;
    color: white;
    margin: 10px;
}

.main__promotions--container article p {
    color: white;
    font-size: 14pt;
    text-align: center;
}

.main__promotions--container article div {
    margin: 20px 0;
    color: white;
    text-align: center;
}

.main__promotions--container article div h4 {
    font-size: 18pt;
    margin-bottom: 10px;
}

.main__promotions--container article div ul li {
    font-size: 16pt;
    margin: 10px;
}

.main__promotions--container article p:last-child {
    border: 2px solid white;
    padding: 10px 20px;
    box-shadow: 2px 2px white;
    border-radius: 5px;
    font-size: 22pt;
}

/* SERVICES SECTION */
main .main__services--container {
    padding: 0 20px;
    margin-bottom: 20px;
}

.services__article--container .article__services--info > h2 {
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.services__article--container .article__services--info > p {
    font-size: 14pt;
    margin-bottom: 20px;
}

.main__services--container
    .services__article--container
    .article__services--list {
    margin-top: 15px;
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    height: 320px;
}

.services__article--container
    .article__services--list
    .article__services--card {
    background-color: #1d3157;
    scroll-snap-align: center;
    flex: 0 0 auto;
    height: 300px;
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 15px;
    position: relative;
    color: white;
    text-align: center;
    font-family: "roboto-bold", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.16);
}

.article__services--list .article__services--card p:nth-child(1) {
    font-size: 14pt;
}

.article__services--list .article__services--card p:nth-child(2),
.article__services--list .article__services--card p:nth-child(4) {
    font-size: 18pt;
}

.article__services--list .article__services--card p:nth-child(3) {
    font-size: 12pt;
}

.article__services--list .article__services--card p:nth-child(4) {
    border: 2px solid white;
    font-size: 24pt;
    padding: 5px 10px;
    box-shadow: 2px 2px 1px white;
    border-radius: 5px;
}

/* HOW FIND US SECTION */

main .main__how-find-us--container {
    padding: 0 20px;
    color: #333;
}

main .main__how-find-us--container h2 {
    text-align: center;
}

main .main__how-find-us--container a {
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    margin-bottom: 15px;
    color: inherit;
    font-size: 14pt;
    color: #387dff;
    font-family: "roboto-bold", sans-serif;
    border: 2px solid #387dff;
    border-radius: 4px;
    box-shadow: 1px 1px #387dff;
}

main .main__how-find-us--container iframe {
    border: none;
    width: 100%;
}

.main__how-find-us--container .how-find-us__section--container {
    color: white;
    background-color: #387dff;
    margin-top: 20px;
    border-radius: 5px;
}

.how-find-us__section--container .how-find-us__section--card {
    padding: 20px;
}

.how-find-us__section--container .how-find-us__section--card > p > span {
    background-color: white;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.how-find-us__section--container .how-find-us__section--card > p > span > i {
    width: 17px;
    height: 17px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.how-find-us__section--container .how-find-us__section--card p {
    display: flex;
    align-items: center;
}

.how-find-us__section--container .how-find-us__section--card p:first-child {
    margin-bottom: 5px;
    font-size: 14pt;
    font-family: "roboto-bold", sans-serif;
}

.how-find-us__section--card:nth-child(1) p > span > i {
    background-image: url("../assets/icons/phone-call-blue-prosymbols.svg");
}

.how-find-us__section--card:nth-child(1) p:last-child > span {
    width: 22px;
    height: 22px;
    margin-left: 5px;
}

.how-find-us__section--card:nth-child(1) p:last-child > span > i {
    background-image: url("../assets/icons/whatsapp-smashicons.svg");
    width: 100%;
    height: 100%;
}

.how-find-us__section--card:nth-child(3) p > span > i {
    background-image: url("../assets/icons/home.svg");
}

.how-find-us__section--card:nth-child(5) p > span > i {
    background-image: url("../assets/icons/email.svg");
}

/* ABOUT US SECTION */
main .main__about-us--container {
    padding: 20px;
}

main .main__about-us--container .about-us__div--info h2 {
    margin-bottom: 5px;
    color: #387dff;
    text-align: center;
}

main .main__about-us--container .about-us__div--info p {
    font-size: 14pt;
}

.about-us__div--info .about-us__card--container {
    border: 2px solid #e6e6e6;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
}

.about-us__div--info .about-us__card--container .about-us__card--image {
    display: flex;
    align-items: center;
    color: #387dff;
    font-size: 14pt;
    margin: 5px;
}

.about-us__div--info .about-us__card--container .about-us__card--image img {
    margin-right: 5px;
}

.about-us__div--info .about-us__card--container .about-us__card--info p {
    font-size: 13pt;
    text-align: center;
}

.main__about-us--container .about-us__div--info a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    border: 1px solid #387dff;
    box-shadow: 1px 1px #387dff;
    padding: 10px;
    border-radius: 5px;
    color: #387dff;
}

.about-use__doctor--container .about-use__doctor--images {
    display: grid;
    height: 200px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    position: relative;
    margin: 50px 0 40px 0;
}

.about-use__doctor--container .about-use__doctor--images img {
    width: 100%;
    height: 100%;
    max-width: 350px;
}

.about-use__doctor--container
    .about-use__doctor--images
    picture:first-child
    img {
    z-index: 1;
    position: absolute;
    left: 30px;
    top: -22px;
    height: 190px;
    width: 120px;
}

.about-use__doctor--container
    .about-use__doctor--images
    picture:last-child
    img {
    z-index: 2;
    position: absolute;
    max-height: 450px;
    width: 150px;
    right: 30px;
    top: 20px;
    border-end-start-radius: 200px;
    border-end-end-radius: 200px;
}

.about-use__doctor--container .about-use__doctor--info .doctor__info--title {
    text-align: right;
    font-size: 14pt;
}

.about-use__doctor--container .about-use__doctor--info .doctor__info--desc {
    margin-top: 20px;
    font-size: 14pt;
}

.about-use__doctor--info .doctor__info--desc p:first-child {
    font-family: "roboto-bold", sans-serif;
}

/* CONTACT US SECTION */
/* INFO */
main .main__section--contact-us .section__contant-us--info-container {
    background-color: #387dff;
    color: white;
    padding: 20px;
}

.main__section--contact-us .section__contant-us--info-container p {
    font-size: 14pt;
}

.main__section--contact-us .section__contant-us--info-container dl {
    font-size: 18pt;
    padding: 10px 0;
}

/* FORM */
main .main__section--contact-us .section__contant-us--form-container {
    padding: 20px;
}

.section__contant-us--form-container form label {
    display: block;
    margin: 10px auto;
    font-size: 13pt;
    font-family: "roboto-bold", sans-serif;
    color: #7a7a7a;
}

.section__contant-us--form-container form label span {
    display: block;
    color: inherit;
    margin-bottom: 5px;
}

.section__contant-us--form-container form label input {
    border: 1px solid #adadad;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    font-size: 13pt;
}

.form-button {
    display: block;
    border: none;
    background-color: #23ce6b;
    font-size: 14pt;
    font-family: "roboto-bold", sans-serif;
    margin: 0 auto;
    height: 35px;
    width: 90px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.16);
    color: white;
    border-radius: 4px;
}

/* FOOTER */

footer {
    background-color: #387dff;
    color: white;
}

footer .footer__section--top {
    padding-top: 20px;
}

footer .footer__section--top .top__section--left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__section--top .top__section--left a {
    color: inherit;
    border-bottom: 1px solid inherit;
    padding-bottom: 2px;
    margin: 10px 0;
}

footer .footer__section--top .top__section--right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.footer__section--top .top__section--right a {
    display: flex;
    align-items: center;
    color: inherit;
    font-family: "roboto-bold", sans-serif;
}

.top__section--right a img {
    margin: 10px;
}

footer .footer__section--bottom {
    text-align: center;
    padding: 10px 0;
    font-size: 11pt;
}

/* PRIVACY POLICY */
.privacy__main--container {
    padding: 20px;
}

.privacy__main--container .main__title--container {
    height: auto;
    padding: 0;
    margin: 0;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.privacy__main--container .main__title--container .main-title__h1--title {
    text-align: center;
    font-size: 28pt;
    color: #1d3157;
}

.privacy__main--container .main__title--container a {
    color: #fff;
    font-size: 14pt;
    background-color: #1d3157;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.16);
    margin-top: 0.7em;
    font-family: "roboto-bold", sans-serif;
}

.privacy__main--container .main__title--container p {
    color: #333;
    margin-top: 0.5em;
}

.privacy__main--container > section {
    margin-bottom: 1.7em;
}

.privacy__main--container > section > h2 {
    font-size: 28pt;
    color: #387dff;
}

.privacy__main--container > section > p {
    font-size: 16pt;
    margin-top: 5px;
}

/* BLOG */
.Blog__main--container {
    width: 85%;
    margin: 0 auto;
}

.Blog__main--container .Blog__main--title-container {
    margin-top: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 6);
    padding-bottom: 1em;
}

.Blog__main--container .Blog__main--title-container h1 {
    font-size: 32pt;
    line-height: 1;
    color: #387dff;
    margin-bottom: 0.5em;
}

.Blog__main--container .Blog__main--title-container p {
    font-size: 14pt;
}

/* POST */
.Blog__main--posts-container {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.Blog__main--posts-container .Blog__posts--post {
    height: 460px;
    max-width: 360px;
    border-radius: 4px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.16);
    overflow: hidden;
    position: relative;
    margin-bottom: 2em;
}

.Blog__main--posts-container .Blog__posts--post img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.Blog__posts--post .Blog__post--intro {
    padding: 1em;
}

.Blog__posts--post .Blog__post--intro > h2 {
    font-size: 22pt;
}

.Blog__posts--post .Blog__post--intro > p {
    font-size: 14pt;
    margin: 10px 0;
}

.Blog__posts--post .Blog__post--intro > button {
    background-color: #387dff;
    border: none;
    color: white;
    padding: 0.4em 0.6em;
    font-size: 14pt;
    font-family: "Roboto-Bold", sans-serif;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.16);
    position: absolute;
    bottom: 15px;
    right: 15px;
}
